doctype html
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title #{title ? title + " | " : ""}L&apos;Atelier Wood River
    link(href='/public/css/main.css' rel='stylesheet')
    link(rel='stylesheet' href='/public/css/basicLightbox.min.css')
    script(src='https://kit.fontawesome.com/36321d34e2.js' crossorigin='anonymous')

main#container(class=page.url === '/' ? 'index-container': '') 
    block content
        div !{content}

nav 
    mixin pagesMixin
        each navItem in collections.page
            - const activeClass=navItem.url == page.url ? 'active': ''
            - const ctaClass = navItem.data.callToAction ? 'call-to-action' : ''
            - const pageClass = `${ctaClass} ${activeClass}`
            a(href=navItem.url
                id=navItem.url === '/' ? 'home' : ''
                class=pageClass
            )= navItem.data.title

    #main-nav
        +pagesMixin
        a#show-nav(href='#')
            i.fa.fa-bars
    #mobile-nav
        a#close-nav(href='#')
            i.fa.fa-times

        +pagesMixin

footer
    include common/social.pug

block scripts
    script(src='/public/js/nav.js')
    script(src="/public/js/basicLightbox.min.js")
    script(src='/public/js/ligthbox.js' type='module')
